---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BreakBeforeBraces: Allman
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceBeforeParens: ControlStatements
Standard: c++17

